div.content {
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 1 0 auto;
}

div.loginBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

div.loginData {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

div.loginField {
	padding-top: 10px;
	padding-bottom: 10px;
}