<html>

<head>
	<title>PureHeal</title>
	<script src="/js/script.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" href="/img/title_logo.png">
</head>

<body>
	<div class="main">
		<div class="header">
			<div class="logo">
			<div><a href="/"><img height=40px src="/img/logo.png"></img></a></div>
			<div class="text_logo"><a href="/"><img height=35px src="/img/text_logo.png"></img></a></div>
			</div>
			<div class="menu">
			<div><p><a href="/">Новости</a></p></div>
			<div><p><a href="/">Пациентам</a></p></div>
			<div><p><a href="/">О клинике</a></p></div>
			<div><p><a href="/login" id="loginLink">Личный кабинет</a></p></div>
			</div>
		</div>
			<div class="content">
				<div class="loginBlock">
				<form th:action="@{/login}" method="post">
					<div class="loginData">
					<div class="loginField">
						<label for="username">Имя пользователя:</label>
						<input type="text" id="username" name="username" />
					</div>
					<div class="loginField">
						<label for="password">Пароль:</label>
						<input type="password" id="password" name="password" />
					</div>
					<div class="loginField">
						<button type="button" id="loginButton">Войти</button>
					</div>
						<div class="loginField"><p>Нет аккаунта?</p><p><a href="/register">Зарегистрироваться.</a></p></div>
					<div th:if="${error}" th:text="${error}" class="error-message"></div>
					</div>
				</form>
				</div>
		</div>

		<div class="footer">
			<div class="adress_information">
			<div>
			<p class="contacts">Контакты:</p>
			<p>Пермь, ул. Ленина, 7</p>
			</div>
			<div>
			<p>PureHeal@mail.ru</p>
			</div>
			</div>
			<div class="social_media">
			<div><a href=""><img src="/img/google.png"></img></a></div>
			<div><a href=""><img src="/img/tg.png"></img></a></div>
			<div><a href=""><img src="/img/vk.png"></img></a></div>
			<div><a href=""><img src="/img/yt.png"></img></a></div>
			</div>
		</div>
	</div>
</body>

</html>